<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title th:text="${add} ? 'Add new employee:' : 'Edit Employee:'" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<h1 th:text="${add} ? 'Add new Employee:' : 'Edit Employee:'" />
<a th:href="@{/v1/view/employee}">Back to employee List</a>
<br/><br/>
<form th:action="${add} ? @{/v1/view/employee/add} : @{/v1/view/employee/{employeeId}/edit(employeeId=${employee.id})}"
      th:object="${employee}" method="POST">
    <table border="0">
        <tr th:if="${employee.id}">
            <td>ID</td>
            <td>:</td>
            <td th:utext="${employee.id}">...</td>
        </tr>
        <tr>
            <td>NIK</td>
            <td>:</td>
            <td><input type="text" th:field="*{employeeDetail.nik}" /></td>
        </tr>
        <tr>
            <td>Nama</td>
            <td>:</td>
            <td><input type="text" th:field="*{name}" /></td>
        </tr>
        <tr>
            <td>Jenis Kelamin</td>
            <td>:</td>
            <td><input type="text" th:field="*{sex}" /></td>
        </tr>
        <tr>
            <td>Tanggal Lahir</td>
            <td>:</td>
            <td><input type="date" th:field="*{birthDate}" /></td>
        </tr>
        <tr>
            <td>Alamat</td>
            <td>:</td>
            <td><input type="text" th:field="*{address}" /></td>
        </tr>
        <tr>
            <td>NPWP</td>
            <td>:</td>
            <td><input type="text" th:field="*{employeeDetail.npwp}" /></td>
        </tr>
        <tr>
            <td>Status</td>
            <td>:</td>
            <td><input type="text" th:field="*{status}" /></td>
        </tr>
    </table>
    <input type="submit" th:value="${add} ? 'Create' : 'Update'" />
</form>

<br/>
<div th:if="${errorMessage}" th:utext="${errorMessage}" class="error" />
</body>
</html>
