<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>View Employee</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<h1>View Employee</h1>
<a th:href="@{/v1/view/employee}">Back to Employee List</a>
<br/><br/>
<div th:if="${employee}">
    <table border="0">
        <tr>
            <td>ID</td>
            <td>:</td>
            <td th:utext="${employee.id}">...</td>
        </tr>
        <tr>
            <td>NIK</td>
            <td>:</td>
            <td th:utext="${employee.employeeDetail?.nik}">...</td>
        </tr>
        <tr>
            <td>Name</td>
            <td>:</td>
            <td th:utext="${employee.name}">...</td>
        </tr>
        <tr>
            <td>Jenis Kelamin</td>
            <td>:</td>
            <td th:utext="${employee.sex}">...</td>
        </tr>
        <tr>
            <td>Tanggal Lahir</td>
            <td>:</td>
            <td th:utext="${employee.birthDate}">...</td>
        </tr>
        <tr>
            <td>Alamat</td>
            <td>:</td>
            <td th:utext="${employee.address}">...</td>
        </tr>
        <tr>
            <td>NPWP</td>
            <td>:</td>
            <td th:utext="${employee.employeeDetail?.npwp}">...</td>
        </tr>
        <tr>
            <td>Status</td>
            <td>:</td>
            <td th:utext="${employee.status}">...</td>
        </tr>
        <tr>
            <td>file Name</td>
            <td>:</td>
            <td th:utext="${employee.filename}">...</td>
        </tr>
    </table>
    <br/><br/>
    <div th:if="not ${allowDelete}">
        <a th:href="@{/v1/view/employee/{employeeId}/edit(employeeId=${employee.id})}">Edit</a> |
        <a th:href="@{/v1/view/employee/{employeeId}/delete(employeeId=${employee.id})}">Delete</a>
    </div>
    <form th:if="${allowDelete}" th:action="@{/v1/view/employee/{employeeId}/delete(employeeId=${employee.id})}" method="POST">
        Delete this employee? <input type="submit" th:value="Yes" />
    </form>
</div>
<div th:if="${errorMessage}" th:utext="${errorMessage}" class="error" />
</body>
<style>
    h1, h2 {
    color:red;
    }

    a {
        color: blue;
    }

    table {
        border-collapse: collapse;
    }

    table th, table td {
        padding: 5px;
    }

    .error {
        color: red;
        font-style: italic;
    }
</style>
</html>
