<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Employee List</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<h1>Employee List</h1>

<div>
    <nobr>
        <a th:href="@{/v1/view/employee/add}">Add Employee</a> |
        <a th:href="@{/v1/view/}">Back to Index</a>
    </nobr>
</div>

<br/><br/>
<div>
    <table border="1">
        <tr>
            <th>Id</th>
            <th>NIK</th>
            <th>Nama</th>
            <th>Jenis Kelamin</th>
            <th>Tanggal Lahir</th>
            <th>Alamat</th>
            <th>NPWP</th>
            <th>Status</th>
            <th>FileName</th>
            <th>Edit</th>
        </tr>
        <tr th:each ="emp : ${employeelst}">
            <td><a th:href="@{/v1/view/employee/{employeeId}(employeeId=${emp.id})}" th:utext="${emp.id}">...</a></td>
            <td th:utext="${emp.employeeDetail?.nik}">...</td>
            <td><a th:href="@{/v1/view/employee/{employeeId}(employeeId=${emp.id})}"  th:utext="${emp.name}">...</a></td>
            <td th:utext="${emp.sex}">...</td>
            <td th:utext="${emp.birthDate}">...</td>
            <td th:utext="${emp.address}">...</td>
            <td th:utext="${emp.employeeDetail?.npwp}">...</td>
            <td th:utext="${emp.status}">...</td>
            <td th:utext="${emp.filename}">...</td>
            <td><a th:href="@{/v1/view/employee/{employeeId}/edit(employeeId=${emp.id})}">Edit</a></td>
        </tr>
    </table>
</div>
<br/><br/>
<div>
    <nobr>
        <span th:if="${hasPrev}"><a th:href="@{/v1/view/employee?page={prev}(prev=${prev})}">Prev</a>&nbsp;&nbsp;&nbsp;</span>
        <span th:if="${hasNext}"><a th:href="@{/v1/view/employee?page={next}(next=${next})}">Next</a></span>
    </nobr>
</div>
</body>
<style>
        h1, h2 {
    color:red;
    }

    a {
        color: blue;
    }

    table {
        border-collapse: collapse;
    }

    table th, table td {
        padding: 5px;
    }

    .error {
        color: red;
        font-style: italic;
    }
</style>
</html>
