<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title th:utext="${title}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<h1 th:utext="${title}" />
<a th:href="@{/v1/view/employee}">Employee List</a>
<br/><br/>
<div>Copyright © google.com</div>
</body>

<style>
    h1, h2 {
    color:red;
    }

    a {
        color: blue;
    }

    table {
        border-collapse: collapse;
    }

    table th, table td {
        padding: 5px;
    }

    .error {
        color: red;
        font-style: italic;
    }

</style>
</html>
